*{
    margin: 0%;
    padding: 0%;
 }
body{
    background-color:black;
    font-family: 'Roboto', sans-serif;
    color: #ffff;
}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 22px;
    box-shadow: 0px 2px 6px 2px rgb(31, 30, 30);
    color: #ffff;


}
nav ul li a{
    margin-inline: 22px;
    text-decoration: none;
    color: white;
}
ul li{
    list-style: none;
}
nav ul{
    margin-right: 63px;
    margin-top: 6px;
}
.logo{
    font-size: 25px;
    margin-left: 33px;
    color: #257484;
}
ul li button{
    width: 100px;
    height: 33px;
    background-color: #257484;
    border: none;
    color: #ffff;
    font-size: 18px;
    border-radius: 4px;
}
 ul li button:hover{
    border: 2px solid #ffff;
    background-color: transparent;
    color: #257484;
    cursor: pointer;
 }
  ul li a:hover{
    color: #257484;
    border-bottom: 2px solid #257484 
    
  }

  /* main */

  .home{
    display: flex;
    justify-content: center;
  }
  .home img{
    width: 55%;
    margin-top: 120px;
    margin-left: -174px;
  }
  .home .homeText{
    margin-top: 200px;
    margin-left: 44px;
  }
  .homeText h1{
    font-size: 86px;
    color: #257484;
  }
  
  .homeText p{
    margin-top: 22px;
    font-size: 150%;
    color: silver;
  }
  .homeText button{
    margin-top: 22px;
    font-size: 22px;
    width: 140px;
    height: 40px;
    background-color: #257484;
    color: #ffff;
    border-radius: 5px;
    cursor: pointer;
  }
  .homeText button:hover{
    border: 2px solid #ffff;
    background-color: transparent;
    color: #257484;

  }

  .head{
    text-align: center;
    padding: 95px;
    font-size: 25px;
  }
  .head span{
    color: #257484;
  }
  .ourProgram{
    display: flex;
    justify-content: center;
  }
  .ourProgram .crd{
    margin-inline: 22px;
    text-align: center;
  }
  .ourProgram .crd h3{
    font-size: 30px;
    color: #257484;
  }
  .ourProgram .crd img{
    width: 80%;
  }
  .ourProgram .crd img:hover{
    width: 83%;
  }

  /* plan */
  .ourPlan{ 
    display: flex;
    justify-content: center;
  }
  .ourPlan .card{
    width: 280px;
    height: 370px;
    padding: 4px;
    background-color: #4a3c2d;
    text-align: center;
    margin-inline: 22px;
  }
  .card i{
    font-size: 22px;
    margin-top: 22px;
    margin-right: -90%;
    color: #5e0c0c;
  }
  .card h3{
    margin-top: 22px;
    color: #257484;

  }
  .card h1{
    margin-top: 22px;
    color: #257484;
  }
  .card p{
    margin-top: 12px;
    color: silver;
  }
  .card button{
    margin-top: 22px;
    width: 130px;
    height: 38px;
    background-color: #5e0c0c;
    border: none;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }

  .card button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: #5e0C0C;
    cursor: pointer;
    border-radius: 5px;
  }
  .card:hover{
    transition: 0.6s ease;
    width: 290px;
    height: 410px;
    background-color: black;
    font-size: 19px;
    cursor: pointer;

  }

  /* contact */
  .contactPage{
    display: flex;
    justify-content: center;
  }

  .contactText{
    margin-left: 33px;
    color: #257484;
    margin-top: 134px;
    font-size: 32px;
  }
  .contactPage img{
    width: 40%;
    margin-left: -33px;
  }
  .contactUs{
    text-align: center;
    margin-top: 22px;
  }
  .contactUs input{
    width: 350px;
    padding: 8px;
    height: 33px;
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 22px;
    margin-top: 18px;
  }


  .contactUs button{
    width: 365px;
    height: 45px;
    color: white;
    border: none;
    font-size: 22px;
    background-color: #257484;
    border-radius: 2px;
    margin-top: 22px;
  }
  .contactUs button:hover{
    border: 2px solid white;
    background-color: transparent;
    color: #257484;
  }
  
  .contactUs span{
    color: #257484;
  }
  .contactPage .contactText h2{
    color: #ffff;
  }


  .about{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 22px;
    margin-top: 20px;
  }
  .copy{
    display: flex;
    justify-content: center;
    font-size: 26px;
  }
 
  
  .footer{
    display: flex;
    justify-content: center;
    margin-top: 53px;
    padding: 22px;
    box-shadow: 0px 2px 6px 4px rgb(36, 36, 36);
  }
  .footer .footerText{
    margin-inline: 73px;
    margin-top: 33px;
  }
  
  .footerText p{
margin-top: 11px;
color: silver;
  }